{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Создать Роль</title> {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'dash/libs/select2/dist/css/select2.min.css' %}">

<div class="row">
    <div class="col-12">
              <!-- start Person Info -->
              <div class="card">
                <div class="card-header text-bg-primary">
                  <h4 class="mb-0 text-white">Создать Роль</h4>
                </div>
                <!-- Форма-->
                <form action="" method="post">
                  {% csrf_token %}
                  <div>
                    <div class="card-body">
  
                      <div class="row pt-3">
                        <h3 class="text-danger">{{error}}</h3>
                        <br>
                        <!--ФИО-->
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Название</label>
                            <input type="text" id="name" name="name" class="form-control"/>
                          </div>
                        </div>
                        <!--Телефон-->
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Права</label>
                            <select class="select2 form-control" name="permission" multiple="multiple">
                                {% for item in permission %}
                                  <option value="{{item.id}}">{{item.name}}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                      </div>
  
  
                    <div class="form-actions">
                      <div class="card-body border-top">
                        <button type="submit" class="btn btn-primary" id="buttonSave">
                          Сохранить
                        </button>
                        <a href="{% url 'employe_roll' %}" class="btn bg-danger-subtle text-danger ms-6">
                          Отмена
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
              <!-- end Person Info -->
            </div>
  </div>
  

  <script src="{% static 'dash/libs/select2/dist/js/select2.full.min.js' %}"></script>
  <script src="{% static 'dash/libs/select2/dist/js/select2.min.js' %}"></script>
  <script src="{% static 'dash/js/forms/select2.init.js' %}"></script>

{% endblock %}